@import 'variables.scss';

@mixin sentence-case() {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

.review--heading {
  margin-left: 0px;
  margin-right: auto;
  margin-bottom: 0.5rem;

  padding-left: 0px;
  word-wrap: break-word;
}

.review--icon {
  margin-top: auto;
  margin-left: auto;
  margin-right: 0px;
  padding-right: 0px;
  text-align: right;
  align-items: right;
}

.review--row > div {
  margin-top: 0.5rem;
}
.review--subheading {
  font-weight: bold;
}

.review--background-color {
  background-color: $gray;
}

.review--income-value {
  text-align: right;
}
.review--income-total-color {
  background-color: lightgrey;
}

@media print {
  :host .review--container {
    page-break-inside: avoid;
  }
}

.review--key {
  text-align: right;
  @include sentence-case();
}
