<div class="row">
  <div class="col-md-5 financial-input--text">
    <ng-content select="[label]"></ng-content>
  </div>
  <div class="col-sm-4 input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <input
      type="text"
      [(ngModel)]="_value"
      (ngModelChange)="_onChange($event)"
      (blur)="_onTouched()"
      [disabled]="disabled"
      [textMask]="_textMask"
      autocomplete="off"
    />
  </div>
  <div class="financial-input--text">
    <ng-content select="[rowId]"></ng-content>
  </div>
</div>
