<!-- INFORAMTION COLLECTION NOTICE DIALOG BOX -->
<fpir-collection-notice #infoCollectionModal [isDisabled]="!hasConsent">
  <h2 collectModalTitle>Information Collection Notice</h2>
  <div collectModalBody>
    <p>
      The personal information you provide to the PharmaCare program is
      collected by the British Columbia Ministry of Health under the authority
      of s. 22 of the Pharmaceutical Services Act and s. 26 of the Freedom of
      Information and Protection of Privacy Act for the purpose of registering
      you in Fair PharmaCare. If you have any questions about the collection and
      use of your personal information, please contact the Director of
      Information and PharmaNet Innovation, Ministry of Health,
      <a href="{{ collectionNoticeEmail }}">Pharma@Gov.bc.ca</a> or
      250-952-2790, or PO Box 9652, STN PROV GOVT, Victoria, BC V8W 9P4
    </p>

    <div>
      <common-captcha
        [apiBaseUrl]="captchaApiUrl"
        [nonce]="nonce"
        (onValidToken)="setToken($event)"
      ></common-captcha>
    </div>
  </div>
</fpir-collection-notice>

<!-- HOME PAGE -->
<h1>Use this form if:</h1>

<div class="pb-4">
  <ul>
    <li>You have already registered for Fair PharmaCare; and</li>
    <li>
      You have experienced layoff, loss of employment or other reduction of
      income resulting from the COVID-19 pandemic; and
    </li>
    <li>
      Your anticipated gross income for this year will be at least 10% less than
      your income from two years ago as verified by the Canada Revenue Agency.
    </li>
  </ul>
  For income reviews not related to COVID-19, use the following form:
  <a href="{{ hlth5355 }}" target="_blank" rel="noopener noreferrer"
    >Application for Income Review (HLTH 5355)</a
  >.
</div>

<div>
  <strong>IMPORTANT:</strong><br />
  <ul>
    <li>
      If you are unable to provide required supporting documents, you must
      submit a letter signed by you (and your spouse/common-law partner, if
      applicable) declaring the following:<br />
      <ul>
        <li>
          The types of document(s) you are unable to provide and why they are
          not available;
        </li>
        <li>
          The source of the income received, e.g., Canadian Emergency Response
          Benefit (CERB);
        </li>
        <li>The gross income you received from this source each month; and</li>
        <li>
          How many months of the year you have received this income, and how
          many additional months you expect to receive it;
        </li>
        <li>
          Note: the letter of declaration is only for documents you are unable
          to obtain. You must try to obtain all required documents.
        </li>
      </ul>
    </li>
    <li>
      To request more assistance for this year, your application and supporting
      documents must be received no later than December 31 of this year. You
      cannot request more assistance for a previous year.
    </li>
    <li>
      To confirm you are registered with Fair PharmaCare, check your status
      here:
      <a
        href="{{ fpcRegistrationStatus }}"
        target="_blank"
        rel="noopener noreferrer"
        >my.gov.bc.ca/fpcare/registration-status/request-status</a
      >.
    </li>
    <li>
      The Medical Services Plan (MSP), which covers physician visits and
      hospital services, etc., offers supplementary benefits to households with
      lower incomes. For more information, visit
      <a href="{{ mspSuppBenefits }}" target="_blank" rel="noopener noreferrer"
        >www.gov.bc.ca/MSP/supplementarybenefits</a
      >.
    </li>
  </ul>
</div>

<form [formGroup]="formGroup">
  <h2 class="border-bottom">Fair PharmaCare Registration</h2>
  <common-page-section layout="tips">
    <common-radio
      formControlName="isRegistered"
      name="isRegistered"
      [label]="isRegisteredQuestion"
      display="table-row-group"
    ></common-radio>
  </common-page-section>

  <h2 class="border-bottom">Income Requirements</h2>
  <common-page-section layout="tips">
    <common-radio
      formControlName="isIncomeLess"
      name="isIncomeLess"
      [label]="isIncomeLessQuestion"
      display="table-row-group"
    ></common-radio>
  </common-page-section>

  <common-error-container [displayError]="!isEligible && isTouched">
    You are not eligible to apply for Fair PharmaCare Income Review.
  </common-error-container>
</form>
