<!-- INFORAMTION COLLECTION NOTICE DIALOG BOX -->
<fpir-collection-notice #infoCollectionModal [isDisabled]="!hasConsent">
  <h2 collectModalTitle>Information Collection Notice</h2>
  <div collectModalBody>
    <p>
      <strong
        >Keep your personal information secure - especially when using a shared
        device like a computer at a library, school or café.</strong
      >
      To delete any information that was entered, either complete the
      application and submit it or, if you don't finish, close the web browser.
    </p>
    <p>
      <strong>Need to take a break and come back later?</strong> The data you
      enter on this form is saved locally to the computer or device you are
      using until you close the web browser or submit your application.
    </p>
    <p>
      Personal information is collected under the authority of the
      <em>Medicare Protection Act</em> and section 2;6 (a), (c) and (e) of the
      <em>Freedom of Information and Protection of Privacy Act</em>
      for the purposes of administration of the Medical Services Plan. If you
      have any questions about the collection and use of your personal
      information, please contact the Health Insurance BC Chief Privacy Office
      at Health Insurance BC, Chief Privacy Office, PO Box 9035 STN Prov Govt,
      Victoria BC V8W 9E3 or call 604-683-7151 (Vancouver) or 1-800-663-7100
      (toll free).
    </p>

    <div>
      <common-captcha
        [apiBaseUrl]="captchaApiUrl"
        [nonce]="nonce"
        (onValidToken)="setToken($event)"
      ></common-captcha>
    </div>
  </div>
</fpir-collection-notice>

<!-- HOME PAGE -->
<h1>Use this form if:</h1>

<div class="pb-4">
  <ul>
    <li>You have already registered for Fair PharmaCare; and</li>
    <li>
      You have experienced layoff, loss of employment or other reduction of
      income resulting from the COVID-19 pandemic; and
    </li>
    <li>
      Your anticipated gross income for this year will be at least 10% less than
      your income from two years ago as verified by the Canada Revenue Agency.
    </li>
  </ul>
  For income reviews not related to COVID-19, use the following form:
  <a href="{{ hlth5355 }}" target="_blank" rel="noopener noreferrer"
    >Application for Income Review (HLTH 5355)</a
  >.
</div>

<div>
  <strong>IMPORTANT:</strong><br />
  <ul>
    <li>
      If you are unable to provide required supporting documents, you must
      submit a letter signed by you (and your spouse/common-law partner, if
      applicable) declaring the following:<br />
      <ul>
        <li>
          The types of document(s) you are unable to provide and why they are
          not available;
        </li>
        <li>
          The source of the income received, e.g., Canadian Emergency Response
          Benefit (CERB);
        </li>
        <li>The gross income you received from this source each month; and</li>
        <li>
          How many months of the year you have received this income, and how
          many additional months you expect to receive it;
        </li>
        <li>
          Note: the letter of declaration is only for documents you are unable
          to obtain. You must try to obtain all required documents.
        </li>
      </ul>
    </li>
    <li>
      To request more assistance for this year, your application and supporting
      documents must be received no later than December 31 of this year. You
      cannot request more assistance for a previous year.
    </li>
    <li>
      To confirm you are registered with Fair PharmaCare, check your status
      here:
      <a
        href="{{ fpcRegistrationStatus }}"
        target="_blank"
        rel="noopener noreferrer"
        >my.gov.bc.ca/fpcare/registration-status/request-status</a
      >.
    </li>
    <li>
      The Medical Services Plan (MSP), which covers physician visits and
      hospital services, etc., offers supplementary benefits to households with
      lower incomes. For more information, visit
      <a href="{{ mspSuppBenefits }}" target="_blank" rel="noopener noreferrer"
        >www.gov.bc.ca/MSP/supplementarybenefits</a
      >.
    </li>
  </ul>
</div>

<form [formGroup]="formGroup">
  <h2 class="border-bottom">Fair PharmaCare Registration</h2>
  <common-page-section layout="tips">
    <common-radio
      formControlName="isRegistered"
      name="isRegistered"
      [label]="isRegisteredQuestion"
      display="table-row-group"
    ></common-radio>
  </common-page-section>

  <h2 class="border-bottom">Income Requirements</h2>
  <common-page-section layout="tips">
    <common-radio
      formControlName="isIncomeLess"
      name="isIncomeLess"
      [label]="isIncomeLessQuestion"
      display="table-row-group"
    ></common-radio>
  </common-page-section>

  <common-error-container [displayError]="!isEligible && isTouched">
    You are not eligible to apply for Fair PharmaCare Income Review.
  </common-error-container>
</form>
