<h1>Estimate your 2020 Income</h1>

<div [innerHTML]="exampleSupportDocs"></div>

<form [formGroup]="formGroup">
  <h2>{{ applSectionTitle }}</h2>
  <p class="border-bottom">
    Enter zero (0) for each period for which you and/or your spouse/common-law
    partner did not have any income.
  </p>
  <common-page-section layout="tips">
    <div class="row pb-2">
      <div class="col-sm-5" [innerHTML]="originalIncomeLabel"></div>
      <div class="input-group mb-3 col-sm-5">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          class="text-right"
          type="text"
          formControlName="originalIncome"
          name="originalIncome"
          [textMask]="{ mask: moneyMask, pipe: decimalPipeMask }"
          autocomplete="off"
        />
        <common-error-container [displayError]="originalIncomeHasError">
          {{ originalIncomeErrorMsg }}
        </common-error-container>
      </div>
      <div class="col-sm-2">1</div>
    </div>

    <div class="row pb-2">
      <div class="col-sm-5" [innerHTML]="reducedIncomeLabel"></div>
      <div class="input-group mb-3 col-sm-5">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          class="text-right"
          type="text"
          formControlName="reducedIncome"
          name="reducedIncome"
          [textMask]="{ mask: moneyMask, pipe: decimalPipeMask }"
          autocomplete="off"
        />
        <common-error-container [displayError]="reducedIncomeHasError">
          {{ reducedIncomeErrorMsg }}
        </common-error-container>
      </div>
      <div class="col-sm-2">2</div>
    </div>

    <div class="row pb-2">
      <div class="col-sm-5" [innerHTML]="remainderIncomeLabel"></div>
      <div class="input-group mb-3 col-sm-5">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          class="text-right"
          type="text"
          formControlName="remainderIncome"
          name="remainderIncome"
          [textMask]="{ mask: moneyMask, pipe: decimalPipeMask }"
          autocomplete="off"
        />
        <common-error-container [displayError]="remainderIncomeHasError">
          {{ remainderIncomeErrorMsg }}
        </common-error-container>
      </div>
      <div class="col-sm-2">3</div>
    </div>

    <div class="row pb-2">
      <div class="col-sm-5" [innerHTML]="line1to3Label"></div>
      <div class="input-group mb-3 col-sm-5">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          class="text-right"
          type="text"
          formControlName="subtotal"
          name="subtotal"
          [textMask]="{ mask: moneyTotalMask, pipe: decimalPipeMask }"
        />
      </div>
      <div class="col-sm-2">4</div>
    </div>
  </common-page-section>

  <div *ngIf="hasSpouse">
    <h2 class="border-bottom">{{ spSectionTitle }}</h2>
    <common-page-section layout="tips">
      <div class="row pb-2">
        <div class="col-sm-5" [innerHTML]="originalIncomeLabel"></div>
        <div class="input-group mb-3 col-sm-5">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            class="text-right"
            type="text"
            formControlName="spOriginalIncome"
            name="spOriginalIncome"
            [textMask]="{ mask: moneyMask, pipe: decimalPipeMask }"
            autocomplete="off"
          />
          <common-error-container [displayError]="spOriginalIncomeHasError">
            {{ originalIncomeErrorMsg }}
          </common-error-container>
        </div>
        <div class="col-sm-2">5</div>
      </div>

      <div class="row pb-2">
        <div class="col-sm-5" [innerHTML]="reducedIncomeLabel"></div>
        <div class="input-group mb-3 col-sm-5">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            class="text-right"
            type="text"
            formControlName="spReducedIncome"
            name="spReducedIncome"
            [textMask]="{ mask: moneyMask, pipe: decimalPipeMask }"
            autocomplete="off"
          />
          <common-error-container [displayError]="spReducedIncomeHasError">
            {{ reducedIncomeErrorMsg }}
          </common-error-container>
        </div>
        <div class="col-sm-2">6</div>
      </div>

      <div class="row pb-2">
        <div class="col-sm-5" [innerHTML]="remainderIncomeLabel"></div>
        <div class="input-group mb-3 col-sm-5">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            class="text-right"
            type="text"
            formControlName="spRemainderIncome"
            name="spRemainderIncome"
            [textMask]="{ mask: moneyMask, pipe: decimalPipeMask }"
            autocomplete="off"
          />
          <common-error-container [displayError]="spRemainderIncomeHasError">
            {{ remainderIncomeErrorMsg }}
          </common-error-container>
        </div>
        <div class="col-sm-2">7</div>
      </div>

      <div class="row pb-2">
        <div class="col-sm-5" [innerHTML]="line5to7Label"></div>
        <div class="input-group mb-3 col-sm-5">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            class="text-right"
            type="text"
            formControlName="spSubtotal"
            name="spSubtotal"
            [textMask]="{ mask: moneyTotalMask, pipe: decimalPipeMask }"
          />
        </div>
        <div class="col-sm-2">8</div>
      </div>

      <div class="row pb-2">
        <div class="col-sm-5" [innerHTML]="line4and8Label"></div>
        <div class="input-group mb-3 col-sm-5">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            class="text-right"
            type="text"
            formControlName="total"
            name="total"
            [textMask]="{ mask: moneyTotalMask, pipe: decimalPipeMask }"
          />
        </div>
        <div class="col-sm-2">9</div>
      </div>
    </common-page-section>
  </div>
</form>
