<h1>Estimate your Income</h1>
<p>
  You can use either last year's net income or this year's gross income to apply
  for an income review. Choose the year with the lower income (or the year for
  which you have all required documents).
</p>
<p>
  If you use last year's income, you will need to upload the relevant Canada
  Revenue Agency (CRA) Notice of Assessment(s), Notice of Reassessment(s), or
  <a href="{{ incomeStmt }}" target="_blank" rel="noopener noreferrer"
    >proof of income statement</a
  >
  (for both you and your spouse, if applicable).
</p>
<p>
  If you use this year's income, you will need to upload documents showing
  income (for both you and your spouse, if applicable) from all sources (such as
  wages, Employment Insurance benefits, disability payments, pensions, etc.).
</p>

<form [formGroup]="formGroup" class="pt-2">
  <common-page-section layout="tips">
    <common-radio
      formControlName="isLastYearIncome"
      name="isLastYearIncome"
      label="Choose the one that applies:"
      [radioLabels]="incomeOptions"
      display="table-row-group"
    ></common-radio>

    <aside>
      Haven't filed last year's taxes yet? Consider applying with this year's
      gross income.
    </aside>
  </common-page-section>

  <ng-container *ngIf="showSection">
    <h2 class="border-bottom">{{ incomeHeading }}</h2>
    <common-page-section layout="noTips">
      <div [innerHTML]="incomeInstruction"></div>

      <div class="financial--container">
        <fpir-financial-input
          formControlName="income"
          [attr.aria-labelledby]="ariaLabelIncome"
          [moneyMask]="moneyMask"
        >
          <div label class="finance-text--format">{{ incomeLabel }}</div>
          <div rowId>{{ incomeLineNumber }}</div>
          <div errors class="finance-error--format">
            {{ incomeLabel }} is required.
          </div>
        </fpir-financial-input>

        <ng-container *ngIf="hasSpouse">
          <fpir-financial-input
            formControlName="spouseIncome"
            aria-labelledby="ariaLabelSpouseIncome"
            [moneyMask]="moneyMask"
          >
            <div label class="finance-text--format">
              {{ spouseIncomeLabel }}
            </div>
            <div rowId>{{ spouseIncomeLineNumber }}</div>
            <div errors class="finance-error--format">
              {{ spouseIncomeLabel }} is required.
            </div>
          </fpir-financial-input>

          <fpir-financial-input
            formControlName="incomeTotal"
            aria-labelledby="IncomeTotal"
            [moneyMask]="moneyTotalMask"
          >
            <div label class="finance-bold-text--format">
              {{ incomeTotalLabel }}
            </div>
            <div rowId>{{ incomeTotalLineNo }}</div>
          </fpir-financial-input>
        </ng-container>
      </div>

      <ng-container *ngIf="isLastYearIncome">
        <common-radio
          formControlName="hasRdspIncome"
          name="HasRdspIncome"
          label="Do you receive Registered Disability Savings Plan (RDSP) income?"
          display="table-row-group"
        ></common-radio>

        <ng-container *ngIf="hasRdspIncome">
          <p class="pt-2">
            Fair PharmaCare coverage is based on your net income minus RDSP
            payments.
          </p>

          <div class="financial--container">
            <fpir-financial-input
              formControlName="rdspIncome"
              aria-labelledby="RdspIncome"
              [moneyMask]="moneyMask"
            >
              <div label class="finance-text--format">
                {{ rdspIncomeLabel }}
              </div>
              <div rowId>{{ rdspLineNo }}</div>
              <div errors class="finance-error--format">
                {{ rdspIncomeLabel }} is required.
              </div>
            </fpir-financial-input>

            <ng-container *ngIf="hasSpouse">
              <fpir-financial-input
                formControlName="spouseRdspIncome"
                aria-labelledby="SpouseRdspIncome"
                [moneyMask]="moneyMask"
              >
                <div label class="finance-text--format">
                  {{ spouseRdspIncomeLabel }}
                </div>
                <div rowId>{{ spouseRdspLineNo }}</div>
                <div errorsspouseRdspIncomeLabel class="finance-error--format">
                  {{ spouseRdspIncomeLabel }} is required.
                </div>
              </fpir-financial-input>

              <fpir-financial-input
                formControlName="rdspIncomeTotal"
                aria-labelledby="RdspIncomeTotal"
                [moneyMask]="moneyTotalMask"
              >
                <div label class="finance-bold-text--format">
                  {{ rdspIncomeTotalLabel }}
                </div>
                <div rowId>{{ totalRspdLineNo }}</div>
              </fpir-financial-input>
            </ng-container>

            <fpir-financial-input
              formControlName="netIncomeMinusRdsp"
              aria-labelledby="NetIncomeMinusRdsp"
              [moneyMask]="moneyTotalMask"
            >
              <div label class="finance-bold-text--format">
                {{ netIncomeMinusRdspLabel }}
              </div>
              <div rowId>{{ netInomeMinusRdspLineNo }}</div>
            </fpir-financial-input>
          </div>
        </ng-container>
      </ng-container>
    </common-page-section>
    <fpir-support-docs
      [case]="supportDocCase"
      [RDSP]="hasRdspIncome"
    ></fpir-support-docs>
  </ng-container>
</form>
