@import 'variables.scss';

@mixin sentence-case() {
  text-transform: lowercase;

  &:first-letter {
    text-transform: uppercase;
  }
}

.financial--container {
  display: block;
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: $gray;
}

.finance-text--format {
  text-align: right;
  @include sentence-case();
}

.finance-error--format {
  text-align: center;
  @include sentence-case();
}
